body{
    margin: 0;
    padding: 0;
}

/* header */

header ul{
    background: #3bbdfb;
    width: 100%;
    padding: 15px 0 15px 0;
    color: #fff;
    list-style: none;
}

header ul li{
    font-family: "Myriad Pro", sans-serif;
    font-size: 22px;
    text-align: center;
}

@media only screen and (min-width: 992px){
    header ul li{
        font-size: 12px;
    }
}

.navigationList{
    text-align: center;
}

.navigationList a{
    text-align: right;
    text-decoration: none;
    color: #fff;
    padding: 0;
}

.navigationList a:hover{
    color: #fff;
    text-decoration: none;
}

/* logo */

.logo{
    width: auto;
    padding: 130px 0;
    text-align: center;
    vertical-align: middle;
}

.logo h1{
    margin: 0;
    font-size: 100px;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    color: #454545;
}

.logo h1 span{
    color: #3bbdfb;
}

.logo h3{
    font-size: 18px;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    color: #454545;
    margin: 0;
}

/* menu */

.menu{
    list-style: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #d9d9d9;
}

.menu li{
    height: 100px;
    padding: 40px 0;
    text-align: center;
}

.menu li a{
    font-family: "Myriad Pro", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

@media only screen and (min-width: 992px) {
    .menu li a{
        font-size: 14px;
    }
}

.menu li:hover{
    background: #38bcfb;
}

/*slider*/

.slider{
    margin: 0;
    padding: 0;
    border-top: 4px solid #d9d9d9;
}

.slider img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.slider h2 {
    display: block;
    position: absolute;
    top: 25%;
    left: 10%;
    margin: 0;
    z-index: 10000;
    font-family: "Myriad Pro", sans-serif;
    font-size: 45px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
}

.slider h3{
    position: absolute;
    top: 40%;
    left: 11%;
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    font-weight: normal;
}

@media only screen and (min-width: 1200px){
    .slider h2, .slider h3{
        left: 25%;
    }
}

/*section circles*/

.circles{
    background-color: #f7f8fa;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 80px 0 40px 0 ;
}

.circles h2{
    margin: 0;
    font-size: 32px;
    padding-bottom: 20px;
}

.circles h3 {
    margin: 0;
    font-size: 26px;
    color: #909091;
    padding-bottom: 45px;
}

@media only screen and (min-width: 992px){
    .circles h2{
        font-size: 26px;
    }

    .circles h3{
        font-size: 20px;
    }
}

.allCircles{
    border-top: 1px dashed #e6e6e6;
}

.featuredCircles {
    margin: 0 auto;
    padding: 30px 0 0 0;
    position: relative;
}

.featuredCircles img{
    width: 350px;
    height: auto;
    position: relative;
}

@media only screen and (min-width: 992px) {
    .featuredCircles img{
        width: 230px;
    }
}

@media only screen and (min-width: 1200px) {
    .featuredCircles img{
        width: 180px;
    }
}

@media only screen and (min-width: 1600px) {
    .featuredCircles img{
        width: 250px;
    }
}


.featuredCircles h3{
    position: absolute;
    left: 39%;
    top: 40%;
    font-size: 26px;
    font-weight: bold;
    color: #000;
}

.featuredCircles h4{
    position: absolute;
    left: 34%;
    top: 50%;
    font-size: 22px;
    line-height: normal;
}

.featuredCircles input{
    position: absolute;
    left: 44%;
    bottom: 10%;
    padding: 3px 7px 3px 7px;
    background-color: #3bbdfb;
    color: #fff;
    font-size: 26px;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 992px){
    .featuredCircles h3{
        font-size: 14px;
        left: 30%;
    }

    .featuredCircles h4{
        font-size: 12px;
        left: 24%;
    }

    .featuredCircles input{
        font-size: 14px;
        left: 38%;
    }
}

@media only screen and (min-width: 1200px){
    .featuredCircles h3{
        font-size: 12px;
        left: 26%;
    }

    .featuredCircles h4{
        font-size: 10px;
        left: 20%;
    }

    .featuredCircles input{
        font-size: 12px;
        left: 34%;
    }
}

@media only screen and (min-width: 1600px){
    .featuredCircles h3{
        font-size: 12px;
        left: 36%;
    }

    .featuredCircles h4{
        font-size: 10px;
        left: 33%;
    }

    .featuredCircles input{
        font-size: 12px;
        left: 40%;
        bottom: 15%;
    }
}

.featuredCircles input:hover{
    background-color: #1da7e8;
}

/* portfolio*/

.portfolio{
    margin: 0;
    padding-top: 80px;
    text-align: center;
    background-color: #fafafa;
}

.portfolio h2{
    font-size: 45px;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.portfolio h3{
    font-size: 25px;
    font-family: "Myriad Pro", sans-serif;
    color: #a9a9a9;
}

@media only screen and (min-width: 992px) {
    .portfolio h2{
        font-size: 30px;
    }

    .portfolio h3{
        font-size: 14px;
    }
}

.portfolio h3 span{
    color: #a6dbfb;
}

.portfolioWorks{
    padding: 40px 0;
    margin: auto;
}

.portfolioWorks img{
    width: 100%;
    height: 100%;
}

.portfolioWorks img:hover{
    opacity: 0.7;
}

.portfolioWorks h3 {
    margin: 0;
    padding: 20px 0 20px 15px;
    text-align: left;
    font-family: "Myriad Pro", sans-serif ;
    font-size: 28px;
    color: #000;
    background-color: #fff;
}

.portfolioWorks h4{
    margin: 0;
    padding: 15px 0 15px 10px;
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    line-height: normal;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
}

@media only screen and (min-width: 1200px){
    .portfolioWorks h3{
        font-size: 18px;
    }

    .portfolioWorks h4{
        font-size: 14px;
    }
}

.portfolioWorks .border{
    margin: 0;
    padding: 0 15px 0 15px;
    width: 100%;
    background-color: #fff;
}

/* opinions */

.opinionsAndQuestions{
    width: auto;
    height: auto;
    padding: 60px 0 50px 0;
    background-color: #f7f8fa;
    border-bottom: 1px solid #e6e6e6;
}

.comments h2{
    padding: 40px 0 80px 0;
    font-size: 45px;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .comments h2{
        font-size: 30px;
    }
}

.opinions{
    padding: 10px 0 80px 0;
}

.opinions img{
    width: 30%;
    height: auto;
    padding-left: 80px;
}

.opinions p{
    padding: 15px 0 0 50px;
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px;
    color: #949595;
    font-style: italic;
    text-align: left;
}

@media only screen and (min-width: 992px){
    .opinions p{
        font-size: 14px;
    }
}

/*questions*/

.questions h2{
    padding: 40px 0 80px 0;
    font-size: 45px;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .questions h2{
        font-size: 30px;
    }
}

.questionList{
    padding: 0;
    list-style: none;
}

.questionList li{
    background-color: #fff;
    margin-top: 10px;
    border: 2px solid #eeeeee;
    border-radius: 7px;
}

.questionList li p{
    display: inline-block;
    margin: 0;
    padding: 10px 0 10px 10px;
    font-size: 26px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: bolder;
}

@media only screen and (min-width: 992px) {
    .questionList li p{
        font-size: 16px;
    }
}

.questionList a{
    padding: 15px 15px 15px 15px;
    color: #000;
    border-right: 2px solid #eeeeee;
    border-radius: 7px 0 0 7px;
}

.questionList a:hover{
    background-color: #55c4f6;
    color: #fff;
}

.popoverContent{
    padding: 10px 30px 20px 20px;
}

.popoverTitle{
    padding: 0 0 0 40px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

.popoverText{
    margin: 0;
    padding: 0;
}

.btnPopover{
    position: absolute;
    top: 70%;
    left: 70%;
    padding: 5px 10px 5px 10px;
    background-color: #55c4f6;
    color: #fff;
    border: none;
}

.btnPopover:hover{
    background-color: #1da7e8;
}

/*news*/

.mainNews{
    text-align: center;
    padding: 80px 0 40px 0;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}

.mainNews h2{
    font-size: 45px;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.mainNews h3{
    font-size: 25px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    color: #d1d1d1;
}

@media only screen and (min-width: 992px){
    .mainNews h2{
        font-size: 30px;
    }

    .mainNews h3{
        font-size: 14px;
    }
}

.mainNews h3 span{
    color: #4fc1fb;
}

.news{
    padding: 60px 0 50px 0;
}

.post{
    padding-top: 40px;
}

.data img{
   width: 100%;
    height: auto;
    position: relative;
}

.data p{
    position: absolute;
    top: 8%;
    left: 10%;
    z-index: 1000;
    width: auto;
    height: auto;
    margin: 0;
    padding: 6px 15px 6px 6px;
    opacity: 0.8;
    background-color: #55c4f6;
    color: #fff;
    font-size: 20px;
    font-family: "Myriad Pro", sans-serif;
    font-style: normal;
    word-spacing: 3px;
}

@media only screen and (min-width: 992px){
    .data p{
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px){
    .data p{
        font-size: 10px;
    }
}

.data p i{
    padding-right: 6px;
}

.description h3{
    margin: 0;
    font-size: 26px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    color: #000;
    text-align: left;
}

.description h4{
    font-size: 20px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #4fc1fb;
    text-align: left;
}

.description h4 span{
    color: #666464;
    padding-right: 5px;
}

.description p{
    font-size: 16px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    text-align: left;
}

@media only screen and (min-width: 992px){
    .description h3, .description h4{
        font-size: 14px;
    }

    .description p {
        font-size: 10px;
    }
}

/*sponsors*/

.sponsors{
    background-color: #f7f8fa;
    width: auto;
    height: auto;
    margin: 0;
    padding: 60px 0 60px 0;
}

.eachSponsor img{
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #e0dada;
}

/*social media*/

.socialMedia{
    background-color: #38bcfb;
    border-bottom: 3px solid #d9d9d9;
    border-top: 3px solid #d9d9d9;
    color: #fff;
    font-family: "Myriad Pro", sans-serif;
}

.socialInfo h3{
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-align: right;
    padding: 15px 0 10px 0;
}

.socialIcons{
    padding: 10px 0 10px 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.socialIcons li{
    padding-top: 10px;
    font-size: 22px;
    text-align: center;
    letter-spacing: 10px;
    display: block;
    float: left;
}

.socialIcons a{
    color: #fff;
}

.socialIcons a:hover{
    color: #d9d9d9;
}

.searching{
    padding: 15px 0 0 20px;
    cursor: pointer;
}

.searching input{
    height: auto;
    padding: 5px 0 5px 10px;
    background-color: #38bcfb;
    border: 2px solid #fff;
    border-radius: 5px 0 0 5px;
}

.searching input:focus{
    outline: none;
}

.searching input::-webkit-input-placeholder{
    color: #fff;
}

.searching a{
    color: #38bcfb;
    background-color: #fff;
    margin-left: -3px;
    padding: 7px 8px 8px 7px;
    border: 2px solid #fff;
    border-radius: 0 5px 5px 0;
}

/*footer*/

footer{
    background-color: #f7f8fa;
    width: 100%;
    height: 100%;
}

.footerLogo{
    padding-top: 30px;
}

.footerLogo h1{
    text-align: right;
    text-transform: uppercase;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    font-size: 42px;
    letter-spacing: 3px;
}

.footerLogo h1 span{
    color: #959595;
}

.contacts{
    text-align: left;
    padding: 30px 0 0 40px;
}

.contacts h3{
    font-family: "Myriad Pro", sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.contacts ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.contacts li{
    padding: 10px 0 10px 0;
    font-family: "Myriad Pro", sans-serif;
    font-size: 18px;
    font-weight: normal;
}

@media only screen and (min-width: 1200px){
    .contacts li{
        font-size: 14px;
    }
}

.newsletter{
    padding-top: 30px;
}

.newsletter h3{
    font-family: "Myriad Pro", sans-serif;
    font-size: 28px;
    font-weight: normal;
}

form input{
    width: 100%;
    border: none;
    padding: 10px;
    margin: 5px 0 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #dedfe1;
    font-size: 18px;
}

@media only screen and (min-width: 1200px){
    form input{
        font-size: 14px;
    }
}

form input:focus{
    outline: none;
}

.button{
    position: relative;
    top: 0;
    left: 55%;
    width: auto;
    padding: 5px 10px 5px 10px;
    background-color: #3bbdfb;
    border-bottom: 2px solid #1da7e8;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: inherit;

}

.button:hover{
    background-color: #1da7e8;
    border-bottom: 2px solid #253238;
}

.lowFooter {
    width: auto;
    margin: 0;
    padding: 5px 0 10px 0;
    background-color: #2a2b2c;
    font-family: "Myriad Pro", sans-serif;

}

.lowFooter li{
    display: block;
    float: left;
    padding: 5px 10px 0 0;
}

.lowFooter li a{
    color: #8a8a8a;;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

.lowFooter li a:hover{
    color: #f7f8fa;
}

.lowFooter h3{
    margin: 0;
    padding-top: 10px;
    color: #8a8a8a;
    font-family: "Myriad Pro", sans-serif;
    font-size: 16px;
    text-align: center;
}